<!-- <div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Calendar</a></li>
    <li role="presentation"><a href="#">New Event</a></li>
    <li role="presentation"><a href="#">Delete Event</a></li>
  </ul>	
</div> -->

<br>
<div class="row">
<h3>Linked Accounts</h3>
  <ul class="list-group col-md-6">
    <li class="list-group-item" ng-repeat="provider in cc.user.calendar_providers">
      {{provider.linking_profile.provider_name}}
      <div class="pull-right">
        <button class="button" ng-click="cc.getEvents(provider)">Show Events</button>
        <button class="button" ng-click="cc.getCalendars(provider)">Show Calendars</button>
      </div>
    </li>
  </ul>
</div>
<div>
  <h3>Events</h3>
  <table class="table">
    <tr>
      <th>Event</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <tr ng-repeat="event in cc.events | orderBy : start">
      <td>{{event.summary}}</td>
      <td>{{event.start | date :'medium'}}</td>
      <td>{{event.end | date: 'medium'}}</td>
    </tr>
  </table> 
</div>
  
