<!-- <div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Calendar</a></li>
    <li role="presentation"><a href="#">New Event</a></li>
    <li role="presentation"><a href="#">Delete Event</a></li>
  </ul>	
</div> -->

<br>

<div class="row">
<h3>Linked Accounts</h3>
  <ul class="list-group col-md-6">
    <li class="list-group-item" ng-repeat="provider in cc.userCalendars">
      <h4>{{provider[0].provider_name}}
      <small data-ng-click="showCalendars=!showCalendars" >
          <span data-ng-if="!showCalendars">See Calendars</span>
          <span data-ng-if="showCalendars">Hide Calendars</span>
      </small>
      </h4>

      <div ng-if="showCalendars">
        <div  ng-repeat="calendar in provider">
          <input type="checkbox" ng-click="cc.pushCalendar(calendar.calendar_id)" /> {{calendar.calendar_name}}
        </div>
      </div>
      <!--
      <div class="pull-right">
        <button class="button" ng-click="cc.getEvents(provider)">Show Events</button>
      </div>
      -->
    </li>
  </ul>
</div>


 <h2 class="text-center">{{ cc.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="cc.viewDate"
          decrement="cc.calendarView">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="cc.viewDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="cc.viewDate"
          increment="cc.calendarView">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="cc.calendarView" ng-click="cc.changeViewLevel('year')">Year</label>
        <label class="btn btn-primary" ng-model="cc.calendarView" ng-click="cc.changeViewLevel('month')">Month</label>
        <label class="btn btn-primary" ng-model="cc.calendarView" ng-click="cc.changeViewLevel('week')">Week</label>
        <label class="btn btn-primary" ng-model="cc.calendarView" ng-click="cc.changeViewLevel('day')">Day</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="cc.events"
    view="cc.calendarView"
    view-title="cc.calendarTitle"
    view-date="cc.viewDate"
    on-event-click="cc.eventClicked(calendarEvent)"
    on-event-times-changed="cc.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="cc.eventEdited(calendarEvent)"
    on-delete-event-click="cc.eventDeleted(calendarEvent)"
    cell-is-open="cc.isCellOpen"
    day-view-start="00:00"
    day-view-end="23:59"
    day-view-split="30"
    cell-modifier="cc.modifyCell(calendarCell)">
  </mwl-calendar>
